ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

::selection {
	background: #b3d4fc;
	text-shadow: none
}

::-webkit-scrollbar {
    display: none
}

body, html {
    width: 100%;
    height: 100%;
}

.divider {
	width: 100%;
	margin-top: -30px;
	margin-bottom: 30px;
	height: 0;
	border-color: transparent #fff #fff transparent;
	border-style: solid;
	border-width: 0 0 30px 100vw;
	position: relative;
	opacity: 1; 
	transition: .4s ease all;
	&.inverse {
		border-color: transparent #fff;
		margin-top: 0;
		margin-bottom: -30px;
	}
}

.perspective {
	width: 100%;
	height: 100%;
    perspective: 1700px;
    position: relative;
    background: #272727;
    &.toggled {
    	overflow: hidden;
    	.divider {
    		transition: .4s ease all;
    		opacity: 0;
    	}
    	.canvas {
    		height: 100vh;
    		overflow: hidden;
    	}
	    .navigation {
	    	opacity: 1;
	    	span {
	    		opacity: 1;
	    		transform: translateX(0) translateZ(0);
	    	}
	    }    	
    }
}

.perspective-container {
    min-height: 100%;
    position: relative;
    z-index: 3;
    overflow: hidden;
}
 
.navigation {
	position: absolute;
	top: 50%;
	left: 43%;
	transform: translateY(-50%);
	transition: .1s easeInOut all;
	opacity: 0;
	span {
		opacity: 0;
		transform: translateX(40px);
		transition: transform .35s, opacity .35s;
		display: block;
		&:nth-child(1) {
			transition-delay: .2s;
		}
		&:nth-child(2) {
			transition-delay: .22s;
		}
		&:nth-child(3) {
			transition-delay: .24s;
		}
		&:nth-child(4) {
			transition-delay: .26s;
		}		
	}
	a {
		color: #fff;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
		line-height: 45px;
		transition: color .15s;
		position: relative;
		text-decoration: none;		
		&:hover {
			color: $color-primary;
		}		
	}	
	@include breakpoint(360px) {
		left: 53%;
	}
	@include breakpoint($small) {
		left: 60%;
		a {
			line-height: 55px;
			font-size: 22px;
			letter-spacing: 2px;
		}
	}
	@include breakpoint($large) {
		a {
			font-size: 24px;
		}
	}
}

.btn {
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	padding: 8px 25px;
	transition: .15s ease-in all;
	display: inline-block;
	@include breakpoint($quadhd) {
		font-size: 18px;
		padding: 12px 40px;
	}
}

.btn-primary {
	border: 2px solid $color-primary;
	color: $color-primary;
	&:hover,
	&:focus {
		background: $color-primary;
		color: #fff;
	}
}

.btn-secondary {
	border: 2px solid #fff;
	color: #fff;
	&:hover,
	&:focus {
		background: #fff;
		color: #000;
	}
}