.footer {
	background: #252525;
	padding: 10px 15px;
	@include breakpoint($medium) {
		display: flex;
	}
	@include breakpoint($large) {
		padding: 20px 30px;
	}
	.footer-contacts,
	.footer-copyrights {
		width: 100%;
		@include breakpoint($medium) {
			width: 50%;
		}
	}
	.footer-copyrights {
		@include breakpoint($small) {
			border-top: 1px solid #444;
			padding-top: 15px;
		}
		@include breakpoint($medium) {
			text-align: right;
			border-top: 0;
		}
		p {
			font-size: 14px;
			color: #fff;
			font-weight: bold;
			margin: 0 0 5px;
			display: block;
		}
	}
	.footer-title {
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		border-bottom: 1px solid #444;
		padding-bottom: 10px;
		margin: 10px 0 15px;
		@include breakpoint($small) {
			border-bottom: 0;
			display: inline-block;
			margin: 0 30px 0 0;
			padding-bottom: 0;
			line-height: 50px;
		}
		@include breakpoint($medium) {
			margin-right: 15px;
		}
	}
	.footer-contacts-list {
		list-style: none;
		margin: 0;
		padding: 0;
		@include breakpoint($small) {
			display: inline-block;
		}
		li {
			margin-bottom: 15px;
			@include breakpoint($small) {
				display: inline-block;
				padding-right: 20px;
				margin-bottom: 0;
			}
			&:last-child {
				padding-bottom: 10px;
				margin-bottom: 15px;
				border-bottom: 1px solid #444;
				@include breakpoint($small)	{
					border-bottom: 0;
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
		a {
			font-size: 14px;
			color: #fff;
			text-decoration: none;
			font-weight: bold;
		}
	}
}