.btn-toggle-menu {
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 4;
	top: 33px;
	right: 20px;
	background: none;
	border: none;
	width: 30px;
	height: 25px;
	outline: none;
	transition: .3s ease-out all;
	@include breakpoint($medium) {
		top: 45px;
		right: 30px;
	}
	@include breakpoint($large) {
		top: 60px;
		right: 45px;
	}
	@include breakpoint($quadhd) {
		top: 85px;
		right: 80px;
	}
	&.toggled {
		.bar {
			&:nth-child(1),
			&:nth-child(4) {
				opacity: 0;
				top: 18px;
			}
			&:nth-child(2) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}	 
	.bar {
		display: block; 
		width: 100%;
		height: 4px;
		background: #fff; 
		position: absolute;
		transition: .1s ease all;
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2),
		&:nth-child(3) {
			top: 10px;
		}
		&:nth-child(4) {
			top: 20px; 
		}
	}
	&.inverse {
		.bar {
			background: #000;
		}
		&.toggled {
			.bar {
				background: #fff;
			}
		}
	}
}

.header {
	position: absolute;
	left: 0;
	right: 0; 
	display: flex;
	justify-content: center;
	@include breakpoint($medium) {
		display: block;
		top: 30px;
		left: 30px;
		right: 30px;
	}
	@include breakpoint($large) {
		top: 45px;
		left: 45px;
		right: 45px;
	}
	@include breakpoint($quadhd) {
		top: 65px;
		left: 80px;
	}
	.site-logo {
		display: inline-block;
		text-align: center;
		position: relative;
		z-index: 2;
		.mobile {
			margin-top: 20px;
			transition: .3s ease-out all;
			width: 100px;
			display: inline-block;
			@include breakpoint($medium) {
				display: none;
			}
			&.project-opened {
				@include breakpoint(0px 767px) {
					width: 75px;
				}
			}			
		}
  		.desktop {
  			display: none;
  			@include breakpoint($medium) {
				display: block;
  			}
  		}
	}  
}