.hero {
	height: 100vh;
	position: relative;
	background: url('/images/site/hero-homepage.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	.hero-title {
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 1px 1px 5px rgba(0,0,0,.3);
		font-size: 32px;
		margin: 20px 0;
		@include breakpoint($small) {
			font-size: 40px;
		}
		@include breakpoint($medium) {
			font-size: 50px
		}
		@include breakpoint($large) {
			font-size: 60px;
		}
		@include breakpoint($quadhd) {
			font-size: 90px;
		}
	}
}

.services {
	margin-bottom: 50px;
	@include breakpoint($medium) {
		margin-bottom: 70px;
	}
	.services-list {
		max-width: 1600px;
		margin: 0 auto;
		text-align: center;
		@include breakpoint($small) {
			display: flex;
			flex-wrap: wrap;
		}
		li {
			margin-top: 70px;
			position: relative;
			padding: 0 15px 40px;
			@include breakpoint($small) {
				width: 50%;
				padding: 0 0 40px;
			}
			@include breakpoint($large) {
				width: 33.33%;
			}
			@include breakpoint($quadhd) {
				padding: 0 0 60px;
			}
			.btn {
				position: absolute;
				bottom: 0px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.service-icon {
			text-align: center;
			img {
				max-width: 80px;
				display: inline;
				@include breakpoint($medium) {
					max-width: 90px;
				}
				@include breakpoint($quadhd) {
					max-width: 110px;
				}
			}
		}
		.service-title {
			font-size: 18px;
			color: #333;
			margin: 15px 0 10px;
			text-transform: uppercase;
			@include breakpoint($quadhd) {
				font-size: 24px;
			}
		}
		.service-body {
			@include breakpoint($small) {
				padding: 0 25px;
				max-width: 400px;
				margin: 0 auto;
			}
			p {
				color: $color-text;
				margin-bottom: 20px;
				font-size: 16px;
				@include breakpoint($medium) {
					font-size: 14px;
				}
				@include breakpoint($quadhd) {
					font-size: 18px;
				}
			}
		}
	}	
}

.clients {
	margin-bottom: 30px;
	@include breakpoint($small) {
		margin-bottom: 50px;
	}
	.clients-list {
		display: flex;
		flex-wrap: wrap;
		li {
			width: 50%;
			@include breakpoint($small) {
				width: 33.33%;
			}
			@include breakpoint($large) {
				width: 16.66%;
			}
		}
		img {
			max-width: 100%;
			height: auto;
			@include breakpoint($medium) {
				display: block;
				max-width: 65%;
				margin: 0 auto;
			}
			@include breakpoint($large) {
				max-width: 100%;
			}
			@include breakpoint(1600px) {
				max-width: 85%;
			}
			@include breakpoint(1800px) {
				max-width: 70%;
			}
		}
	}	
}

